.card {
    background-color: rgba($darkGrey, 0.8);
    padding: rem(20px);

    @include break(lg) {
        padding: rem(30px) rem(40px);
    }

    @include break(xl) {
        padding: rem(30px) rem(70px);
    }

    .icon-circle {
        color: white;
    }

    &__title {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        font-weight: 700;
        color: $green;

        @include break(md) {
            height: 50px;
            justify-content: flex-start;
            margin-bottom: 1rem;
        }    
    }
}