.card {
    background-color: rgba($darkGrey, 0.8);
    padding: 2em;

    @include break(md) {
        padding: 1em 4em;
    }

    .icon-circle {
        color: white;
    }

    &__title {
        font-size: 1em;
        line-height: 50px;
        margin: 0;
        margin-bottom: 0.5rem;
        
        @media screen and (max-width:767px) {
            font-size: 3em;
        }
    }

    &__text {
        font-size: 0.875rem;
        margin-right: 20px;
        line-height: 20px;
    }
}