$mobile-cta-height: 50px;
@include break(md, false) {
    .card {
        text-align: center;
    }
    .socials {
        margin-bottom: $mobile-cta-height + 20px;

        .card__title {
            display: none;
        }
    }
    .mobile-cta {
        background-color: $green;
        color: black;
        position: absolute;
        bottom: 0px;
        left: -5px;
        width: calc(100% + 10px);
        height: $mobile-cta-height;
        text-align: center;
        transition: height 150ms ease-in-out;
        padding: 1em 2em;

        .card__text {
            overflow: hidden;
            height: 0;
        }

        &.mobile-cta--expanded {
            height: calc(100% + 20px);
            padding: 2em;

            .card__text {
                height: auto;
            }
    
            .dropdown-icon {
                transform: rotate(180deg);
            }
        }

        .card__title {
            color: black;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .form-group {
            input {
                border-color: black;
                color: black;
                
                &::placeholder {
                    color: black;
                }
            }
        }
    }
}

.dropdown-icon {
    display: inline-block;
    width: 1em;
    height: auto;
    transition: transform 200ms ease-in-out;
    color: black;
    margin-left: 0.5em;
}