.mobile-cta {
    @media screen and (max-width:767px) {
        background-color: #00FFAE;
        color: black;
        position: absolute;
        bottom: -60px;
        left: 0;
        width: 100%;
        height: 90px;
        overflow: hidden;
        margin-top: 50px;
        transition: height 150ms ease-in-out;

        &.mobile-cta--expanded {
            height: 143%;

            & .dropdown-icon {
                transform: rotate(180deg);
                top: 30px;
                position: relative;
                left: 15px;
            }
        }

        & .card__title {
            height: $ctaHeight;
            margin-top: 20px;
        }
    }
}

.dropdown-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    transition: transform 200ms ease-in-out;

    @media screen and (max-width:767px) {
        color: black;
    }
}

.dropdown__icon {
    @media screen and (max-width:767px) {
        color: black;
        font-size: 2em !important;
    }
}

.dropdown__text {
    @media screen and (max-width:767px) {
        text-align: center;
        margin-top: 50px !important;
        line-height: 50px !important;
        color: black;
    }
}

.dropdown-content {
    @media screen and (max-width:767px) {
        display: none;
    }
}