.icon-circles {
    display: flex;
    justify-content: space-between;
}

.icon-circle {
    display: inline-flex;
    font-size: rem(16px);
    @include break( md ) {
        font-size: rem(20px);
    }
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
    border: 1px solid $green;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: $green;
        color: $darkGrey;
    }
}