@media screen and (max-width: 767px) and (orientation:landscape) {
    
    .stuck-bottom {
        position: relative;
        bottom: 0;
        z-index: 100;
        top: 200px;
    }

    .main_logo img {
        width: 125px !important;
    }
}

@media screen and (max-height: 440px) {
    .stuck-bottom {
        position: relative;
        bottom: 0;
        z-index: 100;
        top: 200px;
    }
}

@media screen and (max-width:767px) {
    html {
        font-size: 13px;
    }

    .mobile-hidden {
        display: none;
    }
}
@media screen and (min-width:767px) {
    .desktop-hidden {
        display: none;
    }
}
@media screen and (max-width:767px) {
    .signup-form {
        background: #00FFAE;
    }
}
@media screen and (max-width:767px) {
    .socials {
        margin-bottom: 75px;
    }

    .mobile-cta {
        background-color: #00FFAE;
        color: black;
        position: absolute;
        bottom: -60px;
        left: 0;
        width: 100%;
        height: 90px;
        overflow: hidden;
        margin-top: 50px;
        transition: height 150ms ease-in-out;
    }

    .dropdown__icon {
        color: black;
    }

    .dropdown__text {
        text-align: center;
        margin-top: 50px !important;
        line-height: 50px !important;
        color: black;
    }

    .mobile-cta.mobile-cta--expanded {
        height: 143%;
    }
    .mobile-cta--expanded .dropdown-icon {
        transform: rotate(180deg);
        top: 30px;
        position: relative;
        left: 15px;
    }

        .mobile-cta .card__title {
            height: 120px;
            margin-top: 20px;
        }

    .container {
        width: 767px;
    }  

    .stuck-top {
        top: 115px;
        right: 12%;
    }

    .audio-toggle {
        width: 50px;
        height: 75px;
        top: 115px;
        right: 12%;
    }

    .main_logo img {
        width: 195px;
    }

    .video-bg {
        background-position: center 40%;
    }

    /* Bottom cards */
    .card {
        margin: 0 52px;
        padding: 85px 0 0 0;
    }
    
    .card section div:nth-child(2) {
        padding: 0;
    }

    .card__title {
        font-size: 1.5em;
    }

    .socials h2 {
        display: none;
    }

    .card__row {
        display: flex;
        text-align: center;
        flex-direction: column;
        bottom: 35px;
    }
    
    #mc_embed_signup .button {
        background-color: #00FFAE;
        margin: 0 35px 0 0;
        padding: 0;
        width: 2em;
        color: black;
        font-size: 1.5em;
    }
        #mc_embed_signup .button:hover {
            border: 1px solid black !important;
            height: 45px;
            background-color: #00FFAE;
        }

    #mc_embed_signup .mc-field-group {
        margin-left: 35px;
    }

        #mc_embed_signup .mc-field-group label {
            color: black;
            font-size: 2em;
        }

        #mc_embed_signup .mc-field-group input {
            background-color: #00FFAE;
            margin-left: 100px;
        }

    .divider--mail {
        margin: 0 35px 45px 35px;;
    }

    /* Second + third div for responsive mobile */
    .second_div {
        order: 2;
        margin-top: 27px;
    }

    .third_div {
        order: 1;
    }

    .card__row--three {
        width: 100%;
    }

    .card__text {
        margin: 0 60px;
        font-size: 2.1rem;
        line-height: 30px;
    }

    .socials a {
        margin-right: 1em;
    }

    .dropdown-content {
        display: none;
    }

    footer {
        margin-top: 30px;
        background-color: black;
        padding-bottom: 25px;
    }

        footer p:first-child {
            order: 2;
        }

        .footer--VB {
            display: none;
        }

        .footer--copyright, .footer--terms {
            float: left;
        }

        .footer--rights, .footer--privacy {
            float: right;
        }

    /* Utilities */
    .h1-sm {
        font-size: 2rem;
        padding-bottom: 0.9375rem;
    }

    
}

@media screen and (min-width:426) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width:576px) {
    
}

@media screen and (min-width:768px) {
    .container {
        width: 725px;
    }

    .main_logo img {
        width: 125px;
    }

    #mc_embed_signup .mc-field-group input {
        margin-left: 45px;
        width: 60% !important;
    }

    .icon-circle {
        width: 0.8em;
        height: 1em;
    }

    .socials a {
        margin-right: 0.13em;
    }
}


@media screen and (min-width:992px) {
    .container {
        width: 900px;
    }

    .icon-circle {
        width: 1.3em;
        height: 1.3em;
    }

    .card {
        padding-top: 15px;
    }

    #mc_embed_signup .mc-field-group input {
        margin-left: 60px;
        width: 70% !important;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 1095px;
    }

    .icon-circle{
        width: 2em;
        height: 2em;
    }
}