*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin-top: 50px;
    font-family: Montserrat, sans-serif;
    font-size: rem(map.get($typography, base));
    line-height: 1.4;
    color: $lightGrey;
}