// COLORS
$darkGrey: #1c1c1c;
$lightGrey: #BDBDBD;
$green: #00FFAE;

// BREAKPOINTS
$breakpoints: (
    "sm": 425px,
    "md": 767px,
    "lg": 992px,
    "xl": 1200px
);

$typography: (
    "h1": 36px,
    "h2": 21px,
    "h3": 16px,
    "base": 14px,
    "small": 10px
);

// SPACING / SIZES
$ctaHeight: 120px;

// FONTS (sizes, families, etc)