// COLORS
$darkGrey: #1c1c1c;
$lightGrey: #BDBDBD;
$green: #00FFAE;

// BREAKPOINTS
$breakpoints: (
    "sm": 425px,
    "md": 767px,
    "lg": 992px,
    "xl": 1200px
);

// SPACING / SIZES
$ctaHeight: 120px;

// FONTS (sizes, families, etc)