.footer {
    font-size: 0.625rem;
    color: $lightGrey;
    background-color: black;
    margin-top: $ctaHeight;

    a {
        text-decoration: underline;
        color: $lightGrey;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 0.5em;
            @include break( md ) {
                display: inline-block;
                &::after {
                    display: inline-block;
                    content: " | ";
                    padding: 0 0.5em;
                }

                &:last-child::after {
                    content: none;
                }
            }        
        }
    }

    @include break( md ) {
        margin-top: 0;
        padding: 25px 0;
        background-color: transparent;
    }
}