@include break( md, false ) {
    .card .footer {
        margin: 0 rem(-20px) rem(-20px) rem(-20px);
        padding: 1em 0;
    }    
}

.footer {
    font-size: 0.625rem;
    color: $lightGrey;
    background-color: black;

    a {
        text-decoration: underline;
        color: $lightGrey;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 0.5em;
            @include break( md ) {
                display: inline-block;
                &::after {
                    display: inline-block;
                    content: " | ";
                    padding: 0 0.5em;
                }

                &:last-child::after {
                    content: none;
                }
            }        
        }
    }

    @include break( md ) {
        margin-top: 1rem;
        background-color: transparent;
    }
}