$gutter: 15px;

.row {
    display: flex;
    width: calc(100% + 30px);
    margin-left: -1 * $gutter;
    flex-direction: row;
    flex-wrap: wrap;

    &--space {
        justify-content: space-between;
    }
}


[class^="col"] {
    box-sizing: border-box;
    padding-left: $gutter;
    padding-right: $gutter;
}

.col-third {
    width: 33.333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}    

@each $name, $size in $breakpoints {
    @include break( $name ) {
        .col-#{$name}-third {
            width: 33.333%;
        }
        
        .col-#{$name}-half {
            width: 50%;
        }
        
        .col-#{$name}-full {
            width: 100%;
        }    
    }    
}

